@media only screen and (min-width: 480px) {
    .xs-1 {
      flex: 0 0 8.3333333333%;
      max-width: 8.3333333333%;
    }

    .xs-2 {
      flex: 0 0 16.6666666667%;
      max-width: 16.6666666667%;
    }

    .xs-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }

    .xs-4 {
      flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%;
    }

    .xs-5 {
      flex: 0 0 41.6666666667%;
      max-width: 41.6666666667%;
    }

    .xs-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .xs-7 {
      flex: 0 0 58.3333333333%;
      max-width: 58.3333333333%;
    }

    .xs-8 {
      flex: 0 0 66.6666666667%;
      max-width: 66.6666666667%;
    }

    .xs-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }

    .xs-10 {
      flex: 0 0 83.3333333333%;
      max-width: 83.3333333333%;
    }

    .xs-11 {
      flex: 0 0 91.6666666667%;
      max-width: 91.6666666667%;
    }

    .xs-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  @media only screen and (min-width: 768px) {
    .sm-1 {
      flex: 0 0 8.3333333333%;
      max-width: 8.3333333333%;
    }

    .sm-2 {
      flex: 0 0 16.6666666667%;
      max-width: 16.6666666667%;
    }

    .sm-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }

    .sm-4 {
      flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%;
    }

    .sm-5 {
      flex: 0 0 41.6666666667%;
      max-width: 41.6666666667%;
    }

    .sm-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .sm-7 {
      flex: 0 0 58.3333333333%;
      max-width: 58.3333333333%;
    }

    .sm-8 {
      flex: 0 0 66.6666666667%;
      max-width: 66.6666666667%;
    }

    .sm-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }

    .sm-10 {
      flex: 0 0 83.3333333333%;
      max-width: 83.3333333333%;
    }

    .sm-11 {
      flex: 0 0 91.6666666667%;
      max-width: 91.6666666667%;
    }

    .sm-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  @media only screen and (min-width: 992px) {
    .md-1 {
      flex: 0 0 8.3333333333%;
      max-width: 8.3333333333%;
    }

    .md-2 {
      flex: 0 0 16.6666666667%;
      max-width: 16.6666666667%;
    }

    .md-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }

    .md-4 {
      flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%;
    }

    .md-5 {
      flex: 0 0 41.6666666667%;
      max-width: 41.6666666667%;
    }

    .md-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .md-7 {
      flex: 0 0 58.3333333333%;
      max-width: 58.3333333333%;
    }

    .md-8 {
      flex: 0 0 66.6666666667%;
      max-width: 66.6666666667%;
    }

    .md-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }

    .md-10 {
      flex: 0 0 83.3333333333%;
      max-width: 83.3333333333%;
    }

    .md-11 {
      flex: 0 0 91.6666666667%;
      max-width: 91.6666666667%;
    }

    .md-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  @media only screen and (min-width: 1200px) {
    .lg-1 {
      flex: 0 0 8.3333333333%;
      max-width: 8.3333333333%;
    }

    .lg-2 {
      flex: 0 0 16.6666666667%;
      max-width: 16.6666666667%;
    }

    .lg-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }

    .lg-4 {
      flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%;
    }

    .lg-5 {
      flex: 0 0 41.6666666667%;
      max-width: 41.6666666667%;
    }

    .lg-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .lg-7 {
      flex: 0 0 58.3333333333%;
      max-width: 58.3333333333%;
    }

    .lg-8 {
      flex: 0 0 66.6666666667%;
      max-width: 66.6666666667%;
    }

    .lg-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }

    .lg-10 {
      flex: 0 0 83.3333333333%;
      max-width: 83.3333333333%;
    }

    .lg-11 {
      flex: 0 0 91.6666666667%;
      max-width: 91.6666666667%;
    }

    .lg-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }