:root.dark {
  --primary: #f0f0f0;
  --secondary: #5595ce;
  --muted-text: #949ba2;
  --main-background: #41403e;
}

:root {
    --primary: #41403e;
    --secondary: #0b74d5;
    --muted-text: #868e96;
    --main-background: #f0f0f0;
  }

:root.dark {
  .logo {
    filter: invert(80%);
  }

  .prophecy-image {
    filter: brightness(80%);
  }

  .prophecy-middle img {
    background-color: black;
  }

  button svg {
    filter: invert(1);
  }

  .begin-button {
    background: linear-gradient(
      0.25turn,
      var(--guide-primary),
      var(--guide-secondary)
    );
    animation: background-animation 5s ease infinite;
    background-size: 200% 100%;
    color: var(--card-feature);
  }

  @keyframes background-animation {
    0% {
      background-position: 20% 0%;
    }
    50% {
      background-position: 80% 0%;
    }
    100% {
      background-position: 20% 0%;
    }
  }
}
