body {
  touch-action: manipulation;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}

.container {
  overflow: hidden;
  width: 100%;
}

.carousel {
  position: relative;
  margin: 0 auto;
}

.advanced-view-item {
  width: 15em;
  max-width: 15em;
  position: relative;
  margin: 0 auto;
}

.landing-paragraph {
  width: 15em;
  max-width: 15em;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.carousel .carousel-item-hidden {
  display: none;
}

.carousel .carousel-item-visible {
  display: block;
  animation: fadeVisibility 0.5s;
  max-width: 90vw;
  margin: auto;
}

.carousel .carousel-item img {
  width: 80%;
  margin-left: 10%;
  max-width: 600px;
  height: auto;
}

/* Navigation control styles */
.carousel-actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  left: 0;
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-actions button {
  border-radius: 12px;
  transform: none;
}

.card-actions {
  display: flex;
  width: 100%;
  justify-content: space-between; /* put space between the navigation buttons */
  position: absolute; /* position navigation buttons on top */
  top: 25vh; /* center navigation buttons on the slide */
  left: 0%;
}

.card-actions button {
  border-radius: 12px;
  background-color: transparent;
  border-color: transparent;

  /* cursor: pointer; */
  /* width: 20px;
    height: 20px;
    padding: 0%; */
  box-shadow: none;
  transform: none;
}

/* .card-actions button[disabled] {
  visibility: hidden;
} */

.card-actions button#card-button-prev {
  margin-left: 2%; /* prevent previous button from touching the side*/
}

.card-actions button#card-button-next {
  margin-right: 2%; /* prevent next button from touching the side*/
}

/* .carousel .carousel-actions button[disabled] {
  visibility: hidden;
} */

.carousel .carousel-actions button#carousel-button-prev {
  margin-left: 2%; /* prevent previous button from touching the side*/
}

.carousel .carousel-actions button#carousel-button-next {
  margin-right: 2%; /* prevent next button from touching the side*/
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.guide-text {
  text-align: justify;
}

.guide-name {
  color: var(--muted-text);
  margin: 1em;
}

.guide-image {
  border-radius: 20px;
  border-style: hidden;
  /* border-color: var(--success-dark); */
  width: -webkit-fill-available;
  width: -moz-available;
  aspect-ratio: 448/576;
  animation-duration: 1s;
  aspect-ratio: 7 / 9;
  animation-name: fade-in;
  pointer-events: none;
  box-shadow: 0px 0px 5px #888;
  animation: shadow-glow 3s linear 0s infinite alternate;
}

@keyframes shadow-glow {
  from {
    box-shadow: 10px 10px 10px #888;
  }

  to {
    box-shadow: 10px 10px 10px #000;
  }
}

.prophecy-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition-property: visibility, all;
  transition-duration: 1s, 1s;
  font-size: large;
}

.prophecy-image {
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  width: -webkit-fill-available;
  width: -moz-available;
  aspect-ratio: 1 / 2;
  cursor: pointer;
  box-shadow: 0px 0px 5px #888;
}

.prophecy-back {
  border-radius: 10px;
  background-color: white;
}

.prophecy-back,
.prophecy-image,
.image-overlay {
  grid-row: 1;
  grid-column: 1;
  z-index: 10;
  position: relative;
}

.image-overlay-text {
  position: relative;
  top: 10%;
  margin: 10%;
  color: black;
  pointer-events: none;
  /* text-align: justify; */
}

.image_greyed {
  opacity: 40%;
}

.fade-in {
  animation-duration: 1.125s;
  animation-name: fade-in;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0%;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.star_sign_dropdown {
  background: var(--main-background);
}

.share-icon {
  margin-left: 0rem !important;
  margin-right: 1rem !important;
  background-image: none !important;
  aspect-ratio: 1/1;
}

.shareon > .clipboard:before {
  background-image: url("data:image/svg+xml,%3Csvg  fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1'/%3E  %3Crect x='9' y='9' width='13' height='13' rx='2' ry='2'%2F%3E %3C/svg%3E");
}

.nice-button {
  border-radius: 40px !important;
  background-color: #ffffff88;
}

.card-button {
  margin-left: 2rem;
  margin-right: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.card-shake {
  animation-duration: 2s;
  animation-delay: 6s;
  animation-name: shake;
  animation-iteration-count: infinite;
  animation-direction: both;
}

@keyframes shake {
  0% {
    rotate: 0deg;
  }
  60% {
    rotate: 0deg;
  }
  65% {
    rotate: 1deg;
  }
  70% {
    rotate: -1deg;
  }
  75% {
    rotate: 1deg;
  }
  80% {
    rotate: -1deg;
  }
  85% {
    rotate: 1deg;
  }
  100% {
    rotate: 0deg;
  }
}

.capitalize_first_letter::first-letter {
  text-transform: capitalize;
}

.slot {
  border: solid 2px black;
  border-radius: 1px;
  text-align: center;
  font-weight: bolder;
  font-size: x-large;
  z-index: 15;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.buttons-grid {
  display: inline-grid;
  grid-template-rows: max-content;
  align-items: center;
}
