.container{
    overflow: hidden;
    width: 100%;
}


.carousel {
    max-width: 600px;
    position: relative;
    margin: 0 auto;
}

.carousel .carousel-item-hidden {
    display: none;
}

.carousel .carousel-item-visible {
    display: block; /* show current slide image */
    animation: fadeVisibility 0.5s; /* for fading effect when switching between slides */
    max-width: 90vw;
    margin: auto;
}

.carousel .carousel-item img {
    width: 80%;
    margin-left: 10%;
    max-width: 600px;
    height: auto;
}

/* Navigation control styles */
.carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between; /* put space between the navigation buttons */
    position: absolute; /* position navigation buttons on top */
    top: 25vh; /* center navigation buttons on the slide */
    /*transform: translateY(100%); /* align navigation buttons */
}

.carousel-actions button {
    border-radius: 12px;
    /* background-color: transparent;     */
    /* border-color: black; */
    /* cursor: pointer; */
    /* width: 20px;
    height: 20px; */
    /* padding: 0%; */
    transform: none;
}

.card-actions{
    display: flex;
    width: 100%;
    justify-content: space-between; /* put space between the navigation buttons */
    position: absolute; /* position navigation buttons on top */
    top: 25vh; /* center navigation buttons on the slide */
    left: 0%;
}

.card-actions button{
    border-radius: 12px;
    background-color: transparent;
    border-color: transparent;
    
    /* cursor: pointer; */
    /* width: 20px;
    height: 20px;
    padding: 0%; */
    box-shadow: none;
    transform: none;
}

.card-actions button[disabled] {
    visibility: hidden;
}

 .card-actions button#card-button-prev {
    margin-left: 2%; /* prevent previous button from touching the side*/
}

.card-actions button#card-button-next {
    margin-right: 2%;  /* prevent next button from touching the side*/
}

.carousel .carousel-actions button[disabled] {
    visibility: hidden;
}

.carousel .carousel-actions button#carousel-button-prev {
    margin-left: 2%; /* prevent previous button from touching the side*/
}

.carousel .carousel-actions button#carousel-button-next {
    margin-right: 2%;  /* prevent next button from touching the side*/
}

.cards-grid{
    display: grid;
    grid-template-columns: 1fr;
}


.soothsayer-name{
    color: var(--muted-text);
    margin: 1em;
}



.soothsayer-image{
    border-radius: 20px; 
    border-color: var(--success-dark);
    width: -webkit-fill-available;
    width: -moz-available;
    aspect-ratio: 448/576;    
     animation-duration: 1s;
    animation-name: fade-in;
}


.prophecy-card{    
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition-property: visibility, all;
  transition-duration: 1s, 1s;
}

.prophecy-image {
    
    border-radius: 10px;
    width: -webkit-fill-available;
    width: -moz-available;
    aspect-ratio: 1 / 2;
    
  }

.prophecy-back{
    border-radius: 10px;
    background-color: white;
}


.prophecy-back, .prophecy-image, .image-overlay{
    grid-row: 1;
    grid-column: 1;
    z-index: 10;
}

.image-overlay-text{
    position: relative;
    top: 10%;
    margin: 10%;
    color: black;
    pointer-events: none;
}

.image_greyed{
    opacity: 40%;
}

  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 100%;
    }
  }

.star_sign_dropdown{
    background: var(--main-background)
}

.share-icon{
    margin-left: 0rem !important;
    margin-right: 1rem !important;
}