
.carousel {
    max-width: 600px;
    position: relative;
    margin: 0 auto;
}

.carousel .carousel-item{

}
.carousel .carousel-item-hidden {
    display: none; /* hide all slide images not currently being viewed */
}

.carousel .carousel-item-visible {
    display: block; /* show current slide image */
    animation: fadeVisibility 0.5s; /* for fading effect when switching between slides */
}

.carousel .carousel-item img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

/* Navigation control styles */
.carousel .carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between; /* put space between the navigation buttons */
    position: absolute; /* position navigation buttons on top */
    top: 50%; /* center navigation buttons on the slide */
    transform: translateY(-50%); /* align navigation buttons */
}

.carousel .carousel-actions button {
    border-radius: 50px;
    background-color: lightgray;    
    border-color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.carousel .carousel-actions button#carousel-button-prev {
    margin-left: -5%; /* prevent previous button from touching the side*/
}

.carousel .carousel-actions button#carousel-button-next {
    margin-right: -5%;  /* prevent next button from touching the side*/
}

.carousel-dots {
    text-align: center; 
}

.soothsayer-name{
    color: var(--muted-text);
}

.soothsayer-image{
    border-radius: 20px; 
    border-color: var(--success-dark);
    width: -webkit-fill-available;
    width: -moz-available;
    aspect-ratio: 448/576;    
     animation-duration: 1s;
    animation-name: fade-in;
}

.prophecy-image-container{
    position: relative;
    perspective: 1000px;
    height:fit-content;
}

.prophecy-image-card{
    position: relative;
    transform-style: preserve-3d;
    animation-duration: 3s;
    animation-name: card-in;
    width: 100%;
  height: 100%;
}

.prophecy-image-front, .prophecy-image-back, .prophecy-image-ghost {
    
    /* border: 2px solid;
    
    border-color: black; */
    border: none;
    border-radius: 10px;
    width: -webkit-fill-available;
    width: -moz-available;
    aspect-ratio: 1 / 2;
    backface-visibility: hidden;
  }

  .prophecy-image-ghost{
    position: relative;
    visibility: hidden;

}

.prophecy-image-front{
    position: absolute;

}

.prophecy-image-back{
    position: absolute;
    background-color: var(--primary);
    transform: rotateY(180deg);

    color: var(--primary);
}

@keyframes card-in {
    from {
        transform: rotateY(180deg);
    }
  
    to {
      transform: rotateY(0deg);
    }
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 100%;
    }
  }





.dot {
    opacity: 0.7; /* gray out dots for slides not being visted */
}

.dot:focus {
    border: 1px solid black; /* dot for currently visited slide */
}

/* hanlde smooth transitions between slides */
@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}